@page
@model WebApplication1_Upsert_Book_Raxorlet.Pages.Book_List.CreateModel
@{
}

<h2 class="text-center text-primary">Create New</h2>

<form method="post">
    <div class="container rounded border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group row p-2 m-2">
            <div class="col-3">
                <label asp-for="Books.Title"></label>
            </div>
            <div class="col-6">
                <input asp-for="Books.Title" class="form-control" />
                <span asp-validation-for="Books.Title" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row p-2 m-2">
            <div class="col-3">
                <label asp-for="Books.Author"></label>
            </div>
            <div class="col-6">
                <input asp-for="Books.Author" class="form-control"/>
                <span asp-validation-for="Books.Author" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row p-2 m-2">
            <div class="col-3">
                <label asp-for="Books.ISBN"></label>
            </div>
            <div class="col-6">
                <input asp-for="Books.ISBN" class="form-control"/>
                <span asp-validation-for="Books.ISBN" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row p-2 m-2">
            <div class="col-3 offset-3">
                <input type="submit" value="Save" class="btn btn-outline-primary form-control" />
            </div>

            <div class="col-3">
                <a asp-page="Index" class="btn btn-outline-primary form-control">Back To List</a>
            </div>
        </div>
    </div>
</form>

@section scripts
{
<partial name="_ValidationScriptsPartial" />
}