@page
@model WebApplication1_Razor_Core_Upsert.Pages.BookList.CreateModel
@{
}

<h2 class="text-primary text-center">Create New Book</h2>
<br />
<br />
<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="container rounded border">
        <div class="form-group row p-2 m-2">
            <div class="col-3">
                <label asp-for="Book.Title"></label>
            </div>
            <div class="col-6">
                <input asp-for="Book.Title" class="form-control" />
                <span asp-validation-for="Book.Title" class="text-danger"></span>
            </div>
        </div>

            <div class="form-group row m-2 p-2">
                <div class="col-3">
                    <label asp-for="Book.Author"></label>
                </div>
                <div class="col-6">
                    <input asp-for="Book.Author" class="form-control"/>
                    <span asp-validation-for="Book.Author" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row p-2 m-2">
                <div class="col-3">
                    <label asp-for="Book.ISBN"></label>
                </div>
                <div class="col-6">
                    <input asp-for="Book.ISBN" class="form-control"/>
                    <span asp-validation-for="Book.ISBN" class="text-danger"></span>
                </div>
            </div>
        <div class="form-group row m-2 p-2">
            <div class="col-3 offset-3">
                <input type="submit" value="Save" class="btn btn-outline-primary form-control" />
            </div>
            <div class="col-3">
             <a asp-page="Index" class="btn btn-outline-info form-control">Back To List</a>
            </div>
        </div>
       

    </div>
    
</form>

@section scripts
{
    <partial name="_ValidationScriptsPartial" />
}